<div id='onlienGameContent'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>在线游戏</li>
      </ul>
    </div>
    <div class='inner topic'>
        <div class="wrap">
            <ul class="pic">
            </ul>
            <!--4个按钮-->
            <ul class="but">
                <li class="active">1</li>
                <li >2</li>
                <li>3</li>
                <li >4</li>
            </ul>
        </div>
    </div>
  </div>
    <h4>这里的游戏仅作教学演示使用，无任何商业利益！若有侵权请联系我们：13438991560，即刻下架，我们对此深表歉意。</h4>
</div>
<style id="css">
    *{	margin: 0;padding: 0}
    body{ background-color:rgb(217,241,228)}
    .pic{height: 360px}
    .wrap{
        width: 1000px;height: 360px;margin:-1px auto auto -30px;
        perspective: 800px;cursor: pointer}
    .pic li{
        list-style-type: none;height:360px;width: 200px;
        float: left;
        position: relative;
        transform-style: preserve-3d;
        transform:translateZ(-180px)}
    /*设置li的四个面的属性，构成一个立方体（没有左右两个面）。
    //每一个li都拥有4个div面。所以设置背景图片相同。在通过JS动态添加position背景图片显示的位置*/
    .pic li div{
        height:360px;
        position: absolute;
    }
    /*transform-origin：设置旋转元素的基点位置   */
    .pic li div:nth-child(1){
        top:-360px;transform-origin:bottom;
        transform:translateZ(180px) rotateX(90deg);
        background: url('../../public/images/1.jpg');

    }
    .pic li div:nth-child(2){top:360px;
        transform-origin:top;
        transform:translateZ(180px) rotateX(-90deg);
        background: url('../../public/images/2.jpg');}
    .pic li div:nth-child(3){
        transform:translateZ(180px);
        background: url('../../public/images/3.jpg');}
    .pic li div:nth-child(4){
        transform:translateZ(-180px) rotateX(180deg);
        background: url('../../public/images/4.jpg');}
    /*4个选项按钮*/
    .but li{
        list-style-type: none;width: 20px;height: 20px;
        background-color: #000;border-radius: 10px;
        color:#fff;font-size: 12px;text-align: center;
        line-height: 20px;float: left;
        margin-left: 5px;cursor: pointer;
        box-shadow: -1px 3px 6px white
    }
    .but{position: absolute;bottom:10px;right:80px;}
    .but .active,.but li:hover{
        background-color: red;
    }
</style>
<script src="../../public/libs/jquery-3.1.0.js"></script>
<script>
    //var x=300;
    var x=1;
    var pHTML="";
    // 分成多少块后每一块的宽度
    var ewid=950/x;
    var cHTML="";
    var zHTML="";
    var tHTML="";
    var aHTML="";
    var z=0;
    for(var i=0;i<x;i++){
        // 图片动态添加4个面，上下，前后。  不需要左右面
        pHTML+="<li><div></div><div></div><div></div><div></div></li>";
        // 其实是给每一个div添加了一个背景，但是让背景只显示一小部分。通过position设置。
        // -i*ewid是控制背景图片的左偏移量。
        cHTML+=".pic li:nth-child("+(i+1)+") div{background-position:"
                +(-i*ewid)+"px;background-size:950px 360px;}";
        // 控制每一个li里面div的运动时间。
        tHTML+=".pic li:nth-child("+(i+1)+"){transition: 1s "+0.5*(i/x)+"s}"
        // 控制显示层，防止背后和上下的图片显示到前面。
        if(i>x/2){z--;
            zHTML+=".pic li:nth-child("+(i+1)+"){z-index:"+z+";}"
        }
    }
    $('.pic').append(pHTML);
    $('#css').append(cHTML+zHTML+tHTML);
    $('.pic li').css('width',ewid);
    $('.pic li div').css('width',ewid);
    console.log($('.pic li div:nth-of-type(1)').css("width"));
    //给四张图片添加按钮事件

    $('.pic li div').eq(2).click(function(){//第一张
      window.open('http://localhost:63342/CookMedia/game_fighter/play.html');
    });
    $('.pic li div').eq(1).click(function(){//第一张
        window.open('http://localhost:63342/CookMedia/game_fruitNinja/index.html');
    });
    $('.pic li div').eq(3).click(function(){//第三张
        window.open('http://localhost:63342/CookMedia/game_plantsVSzombies/Index.htm');
    });
    $('.pic li div').eq(0).click(function(){//第四张
        window.open('http://localhost:63342/CookMedia/game_catDefense/index.html');
    });
    // 给下面的4个按钮添加点击事件
    $('.but li').click(function(){
        var a=$(this).index();
        var b=a*90+'deg';
        $(".pic li").css("transform","translateZ(-180px) rotateX("+b+")");
        $(this).addClass("active").siblings().removeClass();
    })
    //图片自动播放
    var i=0;
    var fun1=function(){
        if(i==4){
            i=0;
        }
        $(".pic li").css("transform","translateZ(-180px) rotateX("+90*i+"deg)");
        $('.but li').eq(i).addClass("active").siblings().removeClass();
        i++;
    }
    var timer=setInterval(fun1,4000);
    $('.wrap').hover(
            function(){
                clearInterval(timer);
            },
            function(){
                timer=setInterval(fun1,4000);
            })



</script>